.gentium-boldtext{
  font-family: "Gentium Plus", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
}

.gentium-text{
  font-family: "Gentium Plus", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

@font-face {
  font-family: TrajanusBricks;
  src: url(TrajanusBricks.ttf);
}
@font-face {
  font-family: Gentium;
  src: url(gentium.ttf);
}

.text-trajanus{
  font-family: TrajanusBricks;
  color: #fff;
}

.custom-normal{
  font-family: Arial, Helvetica, sans-serif;
} 